<!DOCTYPE html>

<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <title>Dasboard</title>
    <!-- <style>
        div_postList {
            list-style-type: none; 
            padding: 0px
        }
    </style> -->
</head>

<body>
    <div style="margin-left: 5px;" id="parent">
        <!-- Header -->
        <div id="div_dashboard_title" style="display: flex; 
                width: 100%; 
                flex-direction: row; 
                justify-items: center;
                justify-content: space-between;">
            <h1>Dasboard</h1>
            <div style="display: flex; justify-items: center;">
                <button id="btn_profile" style="border: none; background-color: transparent; margin-right: -5px;"
                    onclick="onPressViewProfile()">
                    <img src="/assets/profile-user.png" style="align-self: center; height: 30px;">
                </button>
                <button id="btn_sign_out"
                    style="margin-left: 5px; font-weight: 600; border: none; background-color: transparent;"
                    onclick="onPressSignOut()">Sign Out</button>
            </div>
        </div>

        <!-- Search Box -->
        <div
            style="width: 40%; border-width: 1px; border-style: groove; border-color: black; border-radius: 3px; display: flex; justify-items: center; justify-content: space-between;">
            <input type="text" id="txt_search" name="txt_search" placeholder="Enter search keyword"
                style="margin: 5px; padding: 5px; border: none; width: 85%;">
            <button id="btn_search" style="border: none; background-color: transparent; margin-right: -5px;"
                onclick="onPressSearchPost()">
                <img src="/assets/search.png" style="align-self: center; height: 25px;">
            </button>
        </div>

        <!-- Create Post -->
        <div style="display: flex; flex-direction: column; width: 40%;">
            <div style=" margin-top: 10px; display: flex; flex-direction: column;">
                <label style="font-weight: 600;">Create Post</label>
                <input type="text" id="txt_post_title" name="txt_post_title" placeholder="Enter post title"
                    style="padding: 5px; margin-top: 10px;" onkeyup="handleInput(this)">
                <textarea style="padding: 5px; margin-top: 10px; height: 150px;" id="txt_post_msg" name="txt_post_msg"
                    rows="10" placeholder="Enter message" onkeyup="handleInput(this)"></textarea>
                <!-- <input type="text" id="txt_post_msg" name="txt_post_msg" placeholder="Enter message"
                    style="padding: 5px; margin-top: 10px; height: 150px;"> -->
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div>
                    <input type="radio" id="btn_public" name="post_type" value="Public" checked>
                    <label for="btn_public">Public</label><br>
                    <input type="radio" id="btn_private" name="post_type" value="Private">
                    <label for="btn_private">Private</label><br>
                </div>
                <button id="btn_create_post"
                    style=" font-weight: 600; height: 40px; margin-top: 10px; align-self: flex-end;"
                    onclick="onPressAddPost()">Add Post</button>
            </div>
        </div>

        <!-- Post List -->
        <div style="margin-top: 10px;">
            <label style="font-weight: 600;">Post List</label>
        </div>
        <div style="width: 40%;" id="div_post_list">
        </div>
        <script type="text/javascript" src="/dashboard.js"></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script>
            getPostList()
            sendEmail()
        </script>
</body>

</html>