<!DOCTYPE html>

<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <title>Search</title>
</head>

<body>
    <div style="margin-left: 5px;" id="parent">
        <!-- Header -->
        <div id="div_search_title" style="display: flex; 
                width: 100%; 
                flex-direction: row; 
                justify-items: center;
                justify-content: space-between;">
            <h1>Search Post</h1>
            <div style="display: flex; justify-items: center;">
                <button id="btn_profile" style="border: none; background-color: transparent; margin-right: -5px;">
                    <img src="/assets/profile-user.png" style="align-self: center; height: 30px;">
                </button>
                <button id="btn_sign_out"
                    style="margin-left: 5px; font-weight: 600; border: none; background-color: transparent;"
                    onclick="onPressSignOut()">Sign Out</button>
            </div>
        </div>

        <label id="search_text"></label>
        <!-- Post List -->
        <div style="width: 40%;" id="div_post_list">
        </div>
    </div>
    <script type="text/javascript" src="/searchPost.js"></script>
    <script>
        var search = document.getElementById('search_text')
        search.textContent = `Search post by ${localStorage.getItem('searchKeyword')}`
        getPostList()
    </script>
</body>

</html>